.table-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* scroll SOLO aquí */
.table-scroll {
  flex: 1;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background: #f7f7f7;
}

th,
td {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  text-align: left;
}

tr {
  cursor: pointer;
}

tr:hover {
  background: #f0f0f0;
}

/* paginación NORMAL */
.pagination {
  border-top: 1px solid #ddd;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: #fff;
}
